.modals
  display: none

.mfp-close
  display: none !important

.mfp-bg
  background: rgba(39, 62, 92, 0.45)

.modal
  position: relative
  max-width: 465px
  width: 100%
  padding: 50px
  margin: 0 auto
  background-color: #fff
  color: #000000
  box-shadow: 0px 4px 13px rgba(10, 88, 158, 0.3)
  border-radius: 5px

  &__header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 24px

  &__title
    font-size: 25px
    line-height: 30px
    color: #000000

  &__description
    font-size: 14px
    line-height: 20px

  &__close
    position: relative
    top: 2px
    right: -10px
    display: flex
    padding: 10px
    align-items: center
    justify-content: center

    .icon
      font-size: 16px
      color: #CDD8E2

  &--message

		.modal__description
    color: #00599E

    .modal__link
      display: inline-flex
      margin-top: 40px

  &--callback
    max-width: 490px

  &--auth,
  &--feedback,
  &--map,
  &--know-result
    max-width: 850px

  &--recovery-pass .modal__description
    margin-bottom: 20px

  &--map .modal__map
    width: 100%
    height: 260px
    margin-bottom: 30px

  &--know-result form
    padding: 0
    border: 0

  &--auth

		.modal__body
    display: flex
    justify-content: space-between
    align-items: flex-start

    .modal__main
      max-width: 370px
      width: 100%

    .modal__info
      max-width: 350px
      width: 100%
      padding: 30px
      background: #00599E
      border-radius: 5px

      &-title
        font-size: 20px
        line-height: 26px
        color: #fff
        margin-bottom: 50px

    .modal__list
      padding: 0
      list-style-type: none

      &-icon
        position: relative
        top: 1px
        display: flex
        align-items: center
        justify-content: center
        min-width: 18px
        max-width: 18px
        height: 18px
        background-color: #fff
        border-radius: 100%
        margin-right: 24px

      .icon
        font-size: 8px
        color: #00599E

      &-text
        font-size: 14px
        line-height: 20px
        color: #FFFFFF

      &-item
        display: flex
        align-items: flex-start
        margin-bottom: 20px


  &--error

		.modal__title
    color: #FC6464