<div class="modals">

    <div id="message-modal" class="modal modal--message modal--success animated">
        <div class="modal__header">
            <div class="modal__title js-success-modal-title">Спасибо за заявку!</div>
            <button class="modal__close js-close-modal">Close</button>
        </div>
        <div class="modal__body">
            <div class="modal__description js-success-modal-description">
                Мы приняли Вашу заявку и в скором времени свяжемся с Вами.
            </div>
        </div>
    </div>

</div>