---
layout: default
title: BrainsCloud | Home
---

<div class="js-specialists-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<button class="js-open-modal" data-modal="#message-modal">
    Open Modal
</button>