<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="js-body">

    <div class="wrapper">
        {{> header }}

        {{> body }}

        {{> footer }}
    </div>

    {{> modals}}

    <script src="assets/js/app.js"></script>
</body>
</html>
